<div class="container">
<div class="row text-center">
    <h2>Edit Post</h2>
</div>

<%= render "partials/post_form" %>

<div class="row text-center">
    <%= link_to 'Back', city_post_path(@city, @post), class: "btn btn-primary" %>
</div>
</div>