<div class="container">
<div class="row text-center">
    <h2>Create a Post</h2>
</div>

<%= render "partials/post_form" %>

<div class="row text-center">
<%= link_to 'Back', city_path(@city), class: "btn btn-primary" %>
</div>
</div>