<div class="fullscreen-bg">
	<video poster="" id="bgvid" playsinline autoplay muted loop>
        <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/2150/8/210752209/722777953.mp4?token=1504198993-0x3457f5d7cbb1e285ae87ec2a12ae248b6c5d2e3a" type="video/mp4">
    </video>
</div>
<div class="container">
<div class="row text-center">
    <h1 class="city-title">Cities</h1>
</div>
<% @cities.each do |city| %>
    <div class="row text-center">
        <%= link_to city.name, city, class: "btn btn-default" %>
        <br/><br/>
    </div>
<% end %>

</div>