<div class="home-splash-container">
    <img class="home-splash-image" src="http://traveladvice.com/images/headerImage.jpg" alt="Banner">
</div>

<h1>Cities</h1>
    <ul>
        <% @cities.each do |city| %>
            <li>
                <%= city.name %>
            </li>
        <% end %>
    </ul>