<div class="home-splash-container">
    <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xRu7ceCtDME?autoplay=1&controls=0&showinfo=0&loop=1&playlist=xRu7ceCtDME&modestbranding=1"></iframe>></iframe>
</div>
</div>

<h1>Cities</h1>
    <ul>
        <% @cities.each do |city| %>
            <li>
                <%= link_to city.name, city %>
            </li>
        <% end %>
    </ul>