<h2><%= @city.name %></h2>

<%= image_tag @city.photo, class: "city-image" %>


<% @posts.each do |post| %>
    <div>
        <h4>Title: <%= post.title %></h4>
        <p><%= post.content %></p>
    </div>
<% end %>
