@import "bootstrap";
@import "bootswatch/sandstone/variables";
@import "bootswatch/sandstone/bootswatch";

.home-splash-image-container {
    display: inline;
}
.home-splash-image-container span {
    top: 200px;
}
.home-splash-image {
    width: 100%;
}

.city-image {
    width: 100%;
    height: auto;
}

body { 
    padding-top: 80px; 
}

.site-title {
    font-size: 3em;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.site-title:hover {
    text-decoration: none;
    color: grey;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('https://static.pexels.com/photos/314726/pexels-photo-314726.jpeg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.city-title {
    font-size: 7em;
}

.alert {
    color: red;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}