@import "bootstrap";
@import "bootswatch/sandstone/variables";
@import "bootswatch/sandstone/bootswatch";

.home-splash-image-container {
    display: inline;
}
.home-splash-image-container span {
    top: 200px;
}
.home-splash-image {
    width: 100%;
}

.city-image {
    max-width: 600px;
    height: auto;
}

.card-img-top{
    width:60%;
    height:auto;
  }